# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
.expo-shared/

# Logs
logs
*.log

# macOS
.DS_Store

# Env
.env
.env.local
.env.*

# Build outputs
build/
dist/
.expo-web/
